@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


body {
        padding: 0;
        margin: 0;
        background-color: #17141d;
        color: white;
        font-family: 'Oswald', sans-serif;
}

/* .card {
        width: 18%;
        height: 300px;
        margin: 0 0.5em;
        float: left;
        perspective: 500px;
}

.content {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        text-align: center;
        justify-content: center;

}

.card:hover .content {
        transform: rotateY(180deg);
        transition: transform 0.5s;
}

.myth,
.fact {
        position: absolute;
        height: 100%;
        width: 100%;
        background: white;
        line-height: 45px;
        background: linear-gradient(to right, #8e0e00, #1f1c18);
        font-size: 20px;
        border-radius: 5px;
        backface-visibility: hidden;
}

.fact {
        background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
                color: white;
transform: rotateY(180deg);
        line-height: 45px;
} */

footer {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
}

.heading {
        text-align: center;
        justify-content: center;
        font-size: 2rem;
        margin-top: 10px;
        background: linear-gradient(90deg, #ff8a00, #e52e71);
        font-family: 'Times New Roman', Times, serif;
}

.image {
        height: 20%;
        width: 20%;
        margin: 10px;
}

.box1 {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        font-size: 20px;
}

.box2 {
        /* background: linear-gradient(to right, #ff00cc, #333399); */
        background: linear-gradient(to left, #000000, #0f9b0f);
        font-size: 20px;
}